<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.mymodel.mapper.PivotMapper">

    <select id="selectAll" resultType="Dpattern">
        select * from basicpivot
    </select>

    <insert id="batchsaveAll" parameterType="java.util.List">
        insert into basicpivot (Length, StartId, High, Low, PivotType, Scratches) values
        <foreach collection="dpatternList" item="dpattern" separator=",">
            (#{dpattern.length, jdbcType=INTEGER},#{dpattern.startId, jdbcType=INTEGER},
            #{dpattern.high, jdbcType=FLOAT}, #{dpattern.low, jdbcType=FLOAT},
            #{dpattern.directionType, jdbcType=INTEGER},#{dpattern.polyline, jdbcType=VARCHAR})
        </foreach>
    </insert>


</mapper>